[req]
encrypt_key = yes
prompt = no
utf8 = yes
string_mask = utf8only
distinguished_name = dn
x509_extensions = v3_ca

[v3_ca]
subjectKeyIdentifier = hash
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign

[dn]
O  = TPM Manufacturer
OU = TPM Manufacturer Root CA
CN = TPM Manufacturer Root CA
