openssl_conf = openssl_init

[openssl_init]
oid_section = tpm_oids

[tpm_oids]
TPMManufacturer=tcg_at_tpmManufacturer,2.23.133.2.1
TPMModel=tcg-at-tpmModel,2.23.133.2.2
TPMVersion=tcg-at-tpmVersion,2.23.133.2.3
TPMSpecification=tcg-at-tpmSpecification,2.23.133.2.16

[req]
#prompt = no
default_bits = 2048
encrypt_key = yes
utf8 = yes
string_mask = utf8only
certificatePolicies= 2.23.133.2.1
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]


[v3_req]
subjectAltName=ASN1:SEQUENCE:dir_seq
basicConstraints=CA:FALSE
keyUsage = keyEncipherment


[dir_seq]
seq = EXPLICIT:4,SEQUENCE:dir_seq_seq

[dir_seq_seq]
set = SET:dir_set_1

[dir_set_1]
seq.1 = SEQUENCE:dir_seq_1
seq.2 = SEQUENCE:dir_seq_2
seq.3 = SEQUENCE:dir_seq_3

[dir_seq_1]
oid=OID:2.23.133.2.1
str=UTF8:"id:123456EF"

[dir_seq_2]
oid=OID:2.23.133.2.2
str=UTF8:"id:00000000"

[dir_seq_3]
oid=OID:2.23.133.2.3
str=UTF8:"id:00020008"

[dir_sect]
O=foo

[foo___sec]
foo.1 = ASN1:OID:"TPMModel"
foo.2 = ASN1:INTEGER:1
